<center>
<h1>Inroduction to Programming in Python</h1>
<h2>Computational Sociology Boot Camp 2018</h2>
<h3> Sep 17, 2018<h3>
</center>

<center><h1>Overview</h1></center>

* ### Basic Programming Concepts:
    * ###  Objects, Variables, and Functions
    
    * ### Objects for Holding other Objects
        * ### List, Tuple, Dictionary, Dataframe
    * ### Calling Stuff Stored in Objects and Variables
        * ### Indexing and Slicing
        * ### Methods
    * ### Loops and Conditional Statements
        * ### For Loops
        * ### If, Else Statements
        
    * ### Importing Modules and Libraries and Writing and Opening Files
        * ### Modules vs. Libraries
        * ### Working Directory
        * ### Pandas and Dataframes
        * ### Manipulating Dataframes and Reading/Writing Files in the Working Directory

<center><h1>Programming Concepts</h1></center>
* ### <span style="color:blue"> **Objects**</span> (basic building blocks)
* ### <span style="color:blue"> **Variables**</span> (named specific objects)
* ### <span style="color:blue"> **Functions**</span> (code for manipulating objects)

## Basic <span style="color:blue"> **Object**</span> Types:
#### String, Int, Float, and Bool

In [1]:
"sociology" #strings are demarcated with single or double quotes

'sociology'

#### Quick Detour: We can store objects in memory by assigning them to <span style="color:blue"> **variables**</span>
* #### It's considered good style to name variables with either "my_string" or "myString" convention

In [2]:
string_ex = "sociology"
string_ex + " " + "is cool" #Python allows us to concatenate string ojbects and variables by just using a plus sign

'sociology is cool'

In [3]:
123 #integer

123

In [4]:
integer_ex = 123
integer_ex + integer_ex

246

In [5]:
.123 #float

0.123

#### Quick Detour: We can manipulate objects and variables in Python by using <span style="color:blue"> **functions** </span> which require that we provide some input or arguments. 

* #### The  <span style="color:green"> **round** </span> function, for example, takes any one object or variables of type float as *arguments* and then allows us to specify number of places to which we'd like to round

In [6]:
float_ex = .123
round(float_ex,2)

0.12

In [7]:
True #Boolean (sometimes also represented as 1)

True

In [8]:
true_ex = True

In [9]:
False #Boolean (sometimes also represented as 0)

False

In [10]:
false_ex = False

## Objects for Holding other Objects

#### List, Tuple, Dictionary, Dataframe

In [11]:
["sociology",123,.123,True,False] #lists (ordered collection of objects)

my_list = ["sociology",123,.123,True,False] #lists (ordered collection of objects)

("sociology",123,.123,True,False) #tuple (ordered collection that can't be edited ["immutable"])

('sociology', 123, 0.123, True, False)

In [12]:
{"key1":"value1","key2":"value2a","key3":"value3"} #dictionary (indexed collection)

#Dictionaries can be very useful to keep track of hierarchical data, such as the names and types of your family pets:
AllMyPets= {"MyDogs":"Kai","MyCats": ["Nanook", "Milo"],"MyFrogs":"Kermit"} 

AllMyPets.keys() #what are the all the keys (i.e., what are the types of pets?)

AllMyPets['my_new_type_of_pet']= 'Pickles'

AllMyPets

{'MyDogs': 'Kai',
 'MyCats': ['Nanook', 'Milo'],
 'MyFrogs': 'Kermit',
 'my_new_type_of_pet': 'Pickles'}

In [13]:
type(AllMyPets) #If you're ever unsure of what a certain ojbect is try the type function which will take ojbects as an argument

dict

## Activitiy 1: 
* ### List the values (i.e., names of all pets) in the dictionary "AllMyPets"

## Activity 2:
* ### In the cell below, create a dictionary with the keys "Agatha","Boban", and "Cora" and values are their ages (13, 12, 9). Are ages a boolean, integer, or float?

## Activity 3:
* ###   The  <span style="color:green"> **print** </span> function takes any number of objects as arguments and prints them to the screen

In [14]:
ex_print = "History repeats itself, first as tragedy, second as farce"
author_print = "Karl Marx"
print(ex_print)
print(ex_print + " - "+ author_print)

History repeats itself, first as tragedy, second as farce
History repeats itself, first as tragedy, second as farce - Karl Marx

* ###   Using the  <span style="color:green"> **print** </span> function,  display these different variables together to make a coherent story

In [15]:
b1 = "Paul"
b2 = "John"
b3 = "Ringo"
b4 = "George"

conjunction1 = "and"
conjunction2 = "because"

noun="pizzazz"
pizza="a slice of 'za'"

preposition1 ="with"
preposition2 ="on"
preposition3 ="beside"

verb1="slapped"
verb2="kissed"
verb3 = "made"
verb4 = "smelled"
verb5 = "slam-dunked"
verb5 = "was"

which ="which"
adverb = "therefore"

adjective1="happy"
adjective2="angry"
adjective3="hungry"
adjective4="confused"
adjective5="low-key"

sp=" " #this is just a space mark if you are like me and too lazy to use the shift key

## Calling Stuff Stored in Objects and Variables


* ### List/Tuple/String Indexing

In [16]:


print(pizza[0:3]) #python is "0-indexed" so first object is index 0

print(my_list[2]) #third element of my_list

print(my_list[-1]) # negative indexing begins with -1 
                   #-1 gives you the last element of my_list  and -4 would give you the 4th to last elementof my_list

a s
0.123
False

In [17]:
AllMyPets['MyCats'] #to display only part of a dictionary

['Nanook', 'Milo']

* ### Slicing

In [18]:
pizza[0:4] #when slicing, last element isn't included (returns my_string characters 1,2,3,4)

my_list[2:] # third element to end

my_list[:-2] # beginning to second to last element

['sociology', 123, 0.123]

In [19]:
pizza[0:3] #when slicing, last element isn't included (returns my_string characters 1,2,3)

'a s'

In [20]:
pizza = pizza + " is the best" #fills me with joy!

print(pizza)

my_list = my_list + ["is", "the", "best"] #it looks sad this way...

my_list += [".","I", "love", "it"] #same as above (this has gotten kinda creepy)

print(my_list)

a slice of 'za' is the best
['sociology', 123, 0.123, True, False, 'is', 'the', 'best', '.', 'I', 'love', 'it']

## Activity 4:
### In the box below, create a new list containing: the first character of <span style="color:gray"> **my_string** </span>, the second element of <span style="color:gray"> **my_list** </span>, and the value of my_int <span style="color:gray"> **my_int** </span>. Assign it to a variable name of your choice.

In [21]:
my_string = "sociology"

## Activity 5:
### In the box below, how do you get the last character of <span style="color:gray"> **my_string** </span>? What about the second-to-last character?

In [22]:
my_string = "sociology is the best"

## Objects have built in functions called *methods*

In [23]:
list1= ["this", "is" , "my", "first", "list"]
print(list1)
list1.append("ever") #note that .append is a method which modifies its object (list1) rather than returning a new object that is modified. In other words, you don't assign it a name.
print(list1)

['this', 'is', 'my', 'first', 'list']
['this', 'is', 'my', 'first', 'list', 'ever']

## String objects have lots of methods you may find useful!

* ### [see documentation (https://docs.python.org/2/library/string.html) ]

In [24]:
print(my_string.capitalize()) 

li= my_string.find("best") #get index where best starts

print(my_string[:li])

print(my_string.rfind("best")) #start from end

my_string += '  \n\t\r' #add whitespace characters to end of string. (\t=tab, \n=linux/mac newline,\r=windows newline)

print(my_string.strip()) #strip whitespace from both ends

my_string= my_string.strip()

print(my_string.replace("best","worst")) #replace all instances of "best" with "worst"

print(my_string.count("best")) #counts non-overlapping occurences

my_text_list= my_string.split(' ') #split string into list of words

my_string2 = ' '.join(my_text_list) #join list on character

print(my_string==my_string2) #== tests for equivalence

#note that because methods are actually functions with itself as input, you always need () [& possibly other arguments]
#what's actually going on here is the object is providing an argument to the function you can't see called 'self'

Sociology is the best
sociology is the
17
sociology is the best
sociology is the worst
1
True

## Activity 6:
### This one is a bit more involved.
#### 1. Create **list** containing the words "UCLA Sociology Department" with variable name of your choice
#### 2. Replace the middle word with "Anthropology"
#### 3. Create a string and join the result of the last step to the string
#### 4. Find the first occurence of the letter r from the end of the string. Store it to a variable
#### 5. Create a new string from the index you just stored to the end of your string.

## Loops
The construction
```python
for n in number_list:
```
is called a ***loop***. More specifically it is a ```for``` loop. Note that the loop contains an "iterator" ```n``` and an "iterable" ```number_list```. We are iterating through ```number_list``` and returning each **value** sequentially and then adding it to the string before printing it.

In python, we use tabs to indicate when we are inside a loop or condition block. Other languages (like R) use the C-style syntax {}.

In [25]:
number_list = [1,2,3,4,5,6,7]
print(number_list)

for n in number_list: 
    print(n)   
    a="This is the" + " "+ str(n) +"th" " item of this list"
    print(a)

[1, 2, 3, 4, 5, 6, 7]
1
This is the 1th item of this list
2
This is the 2th item of this list
3
This is the 3th item of this list
4
This is the 4th item of this list
5
This is the 5th item of this list
6
This is the 6th item of this list
7
This is the 7th item of this list

## Conditions

Let's make this above loop a bit more complicated. We'll loop through the items in ```number_list```  and use a **condition** to make sure that the that ordinal indicators for the values are correct in the output 

This is also an introduction to an if else statement. ```If``` statements test some equivalence and do something if that test returns ```True```. 
We saw the equivalence test ```==``` (equals) before, but here we see its counterpart ```!=```. There are four more equivalence tests:
'>',
'>=',
'<',
'<=',

In [26]:
print(number_list)

for n in number_list: 
    print(n)   
    #going to add in an ordinal indicator variable here
    if n >3:
        ordinal_indicator = "th"
    elif n==1:
        ordinal_indicator = "st"
    elif n==2:
        ordinal_indicator = "nd"
    elif n==3:
        ordinal_indicator = "rd"   
    a="This is the" + " "+ str(n) + ordinal_indicator + " item of this list"
    print(a)

[1, 2, 3, 4, 5, 6, 7]
1
This is the 1st item of this list
2
This is the 2nd item of this list
3
This is the 3rd item of this list
4
This is the 4th item of this list
5
This is the 5th item of this list
6
This is the 6th item of this list
7
This is the 7th item of this list

### Here are some uses of other conditions:

In [27]:
mu=int(sum(number_list)/len(number_list)) #calculating the arithmetic mean of number_list
#sum adds up the numbers in number_list
#len = tells us the length of any given object
    #if the ojbect is a list it will give us the total number of ojbects contain therein
    #if the ojbect is a string it will give us the total number of characters in the string
for n in number_list :
    if n >= mu:
        print(str(n)+ " is greater than or equal to " + str(mu) + ", which is the arithmetic mean of number_list")
    else:
        print(str(n) + " is less than " + str(mu) + ", which is the arithmetic mean of number_list" )

total_running_value=0 

for n in number_list:
    dif_sq = ((n - mu)**2) 
    total_running_value =  + dif_sq
    
sd=(total_running_value/len(number_list))**(1/2) #calculating standard deviation of number_list
upper_lim = mu + sd 
lower_lim = mu - sd

for n in number_list:
    if n > lower_lim and n < upper_lim:
        print(str(n) + " is w/in one standard deviation of " + str(mu))
    else :
        print(str(n) + " is NOT w/in one standard deviation of " + str(mu))

1 is less than 4, which is the arithmetic mean of number_list
2 is less than 4, which is the arithmetic mean of number_list
3 is less than 4, which is the arithmetic mean of number_list
4 is greater than or equal to 4, which is the arithmetic mean of number_list
5 is greater than or equal to 4, which is the arithmetic mean of number_list
6 is greater than or equal to 4, which is the arithmetic mean of number_list
7 is greater than or equal to 4, which is the arithmetic mean of number_list
1 is NOT w/in one standard deviation of 4
2 is NOT w/in one standard deviation of 4
3 is w/in one standard deviation of 4
4 is w/in one standard deviation of 4
5 is w/in one standard deviation of 4
6 is NOT w/in one standard deviation of 4
7 is NOT w/in one standard deviation of 4

### Here are some other uses of conditions outside of loops and and if else statements:

In [28]:
#if we leave an open ended equivalence python will return a boolean object
print("water"=="oil")
# We can also try it out this way
print("water"is "oil")
# We can try "doesn't equal"
print("water"!="oil")
# We can also write it out this way
print("water"is not "oil")

False
False
True
True

## Activity 7:
For each name in the name list below write a loop that compares it with your name and prints out something along the lines of :
    "Person 1's name is longer (or shorter) than my name" depending on the number of characters in the person's name

In [29]:
name_list = ["Alina", "Bernie","Jacob", "Pablo", "Tala", "Isaac","Ian", "Angela", "Kevin","Tianjian"]

## Importing Modules and Libraries and Writing and Opening Files
### Importing Modules and Libraries

To begin, a **module** in Python is simply a set of statements written in Python. The file containing this set of statements has a .py extension. On the other hand, a **library** or **package** is a set of modules combined under a common name.

To make use of the functions in a module, you'll need to import the module with an import statement. An import statement is made up of the import keyword along with the name of the module. ```import os``` below, for example, allows us to use operating system dependent functionality. The functions that the OS module provides allows you to interface with the underlying operating system where python is running whether that is  Windows, Mac or Linux.

```os.getcwd()``` tells us where our current working directory is. When you are reading in and saving files this is path where python will save stuff by default.

In [30]:
import os
print(os.getcwd())

C:\Users\Ianpe\Downloads\Computational Sociology Bootcamp 2018

### If we want to change the directory we can do the following

In [31]:
new_path = 'C:/Users/Ianpe/Downloads/' #notice the direction of my slashes.
                                       #This will vary depending on whether you're on a Mac or PC
os.chdir(new_path)
print(os.getcwd()) #checking to make sure it switched

new_path2 = 'C:/Users/Ianpe/Downloads/Computational Sociology Bootcamp 2018' #switching back to where I began
os.chdir(new_path2)
print(os.getcwd()) #checking again to make sure it switched

C:\Users\Ianpe\Downloads
C:\Users\Ianpe\Downloads\Computational Sociology Bootcamp 2018

Now let's import the Pandas **library**. Pandas is a real game changer for data analysis with python and is probably the most widely used tool in data management/wrangling.

One neat thing about Pandas is that it can take data (like a CSV or TSV file, or a SQL database) and creates a Python object with rows and columns called a data frame that looks very similar to an Excel spreadsheet or some type of table in a statistical software like R or Stata. This is a lot easier to work with in comparison to working with lists and/or dictionaries through for loops or list comprehension.

Usually we you want to add the second part for the import ("as pd") so you can access Pandas with a "pd.command" instead of needing to write "pandas.command" every time you need to use it.

Let's try taking the ```name_list``` variable we used above and combining it with another list using Pandas after we import it

In [32]:
import pandas as pd

length_names=[] #making an empty list for name lengths
for n in name_list: 
    length_names.append(len(n)) #just getting length of all names in list and writing them to this new list

name_tuple = list(zip(name_list,length_names))  #making a tuple from these two lists 
new_df=pd.DataFrame(name_tuple, columns=['name_list','length_names'])

new_df

  name_list  length_names
0     Alina             5
1    Bernie             6
2     Jacob             5
3     Pablo             5
4      Tala             4
5     Isaac             5
6       Ian             3
7    Angela             6
8     Kevin             5

We can index and use conditional manipulations on dataframes just like we would a dictionary. For example, let's look at all the rows where people have five or more characters in their names

In [33]:
new_df[new_df['length_names']>=5] #this is saying show new_df if column length_names is greater than or equal to five

  name_list  length_names
0     Alina             5
1    Bernie             6
2     Jacob             5
3     Pablo             5
5     Isaac             5
7    Angela             6
8     Kevin             5

It's also super easy to convert a dictionary to a data frame

In [34]:
pets_df=pd.DataFrame(AllMyPets)
pets_df

  MyDogs  MyCats MyFrogs my_new_type_of_pet
0    Kai  Nanook  Kermit            Pickles
1    Kai    Milo  Kermit            Pickles

### Writing and Reading Files to the Working Directory

Pandas provides this relatively easy built in method to write CSV files

In [35]:
new_df.to_csv('new_df_21SEP2018.csv')

It also provides an easy way to read in CSV files

In [36]:
new_dfv2 = pd.read_csv('new_df_21SEP2018.csv')

Then we can manipulate these data however we want and resave them

In [37]:
new_dfv2=new_dfv2.rename(columns = {'Unnamed: 0':'old_index'}) #renaming column
new_dfv2 
new_dfv2['index_plus_length'] = new_dfv2['old_index'] + new_dfv2['length_names'] #adding columns in a new column
new_dfv2['greater_than_7'] = new_dfv2['index_plus_length']>7 #conditionally recoding and creating new column 
new_dfv2.to_csv('new_df_21SEP2018.csv', index=False) #writing w/o the index this time
new_dfv2

   old_index name_list  length_names  index_plus_length  greater_than_7
0          0     Alina             5                  5           False
1          1    Bernie             6                  7           False
2          2     Jacob             5                  7           False
3          3     Pablo             5                  8            True
4          4      Tala             4                  8            True
5          5     Isaac             5                 10            True
6          6       Ian             3                  9            True
7          7    Angela             6                 13            True
8          8     Kevin             5                 13            True

## Activity 8:
1. Make a list of months in the year 

2. Make a list of one food for each month that reminds you of this month

3. Make a list of the number of days in each month

4. Zip the lists from steps 1, 2, and 3 together as a data frame using Pandas

5. Create a new column that counts the length (in characters) of your favorite food from each month

6. Compute the mean for the column from step 5

7. Print all rows where the length from step 5 is greater than the mean

8. Create a row that indicates whether the condition from step 7 is true

9. Find your working directory and save this new data frame in it

10. Read back in the csv file from step 9 and then create a column that repeats your name

11. Create a new column that adds the number of days in a month to the column with the number of characters from the food

12. Resave the data frame